# Node & NPM Dependencies (මේවා Git එකට push නොවිය යුතුයි)
/node_modules
npm-debug.log
yarn-error.log

# Build Output & Caches
/dist
/.angular/cache
/.angular
.temp
.cache

# Editor & IDE settings
.vscode/
.idea/
*.iml

# OS specific files
.DS_Store
Thumbs.db
